.vscode/
build/

# TODO: this should go in a temp dir
output.o

# TODO: the consumer's built bin should not be named bateman
bateman
resulting_executable
output_binary
demo_out

vscode/bateman-syntax/node_modules/
vscode/bateman-syntax/*.vsix
